{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolioweb/style.css' %}">
    <title>PortFolio</title>
</head>
<body>
    <nav class="navbar">
        <h3 class="head">DEV-Raj PortFolio</h3>
        <ul>
            <li><a href="#">Home</a></li> 
            <li><a href="#">PortFolio</a></li> 
            <li><a href="#">Services</a></li> 
            <li><a href="#">About Me</a></li> 
            <li><a href="{% url 'contact_url' %}">Contact Me</a></li>
            <li><a href="https://www.github.com/RajrupDasid">My Github Profile</a></li>
        </ul>
    </nav>
    <section id="home">
        {% for i in details %}
            <img src="{{i.background.url}}"  id="iback">
        {% endfor %}
        <div class="main">
            {% for i in details %}
                <h1 class="headings">{{greet}}<br> {{i.name}}</h1>
                <h3 class="dev">{{dev}}</h3>
                <a href="#"><button class="btn">
                    SEE RESUME
                </button></a>
                <br>
                <br>
                <a href="#"><button class="hbtn">
                    HIRE ME
                </button></a>
            {% endfor %}
        </div>
    </section>
    <section class="about">
        <h1 class="headings">ABOUT ME</h1>
        {% for i in details %}
            <div id='pic'>
                <img src="{{i.profile_image.url}}" alt="">
                <div id="intro">
                    <h2>{{i.name}}</h2>
                    <p>{{i.bio}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
    <br>
    <hr>
    <section id="myportfolio">
        <h1 class="newheadings">PORTFOLIO</h1>
        {% for i in my %}
            <div class="career">
                <ul>
                    <p>My career: </p> 
                    {{i.careersummary|safe}}
                </ul>
            </div>
        {% endfor %}
        {% for i in my %}
            <div class="bio">
                <ul>
                    <p>A short description of my bio graphy:</p>
                    <li>{{i.biography|safe}}</li>
                </ul>
            </div>
        {% endfor %}
        <br>
        <br>
            <div class="skills">
                <ul>
                    I have Knowdledge in this languages: 
                    {% for i in my %}
                        <li>{{i.skills|safe}}</li>
                    {% endfor %}
                </ul>
            </div>
    </section>
    <br>
    <hr>
    <section id="portfolio">
        <h1 class="headings">SERVICES</h1>
        <div class="row">
            {% for i in pf %}
                <div class="col-sm-4">
                    <div class="card m-2">
                            <br>
                            <h4 class="text">{{i.title}}</h4>
                            <br>
                            <br>
                            <img src="{{i.portfolio_image.url}}" alt="" class="img">
                            <br>
                            <br>
                            <h4 class="description">{{i.description|safe}}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <br>
    <br>
    <div class="container">
        <h1 class="con">CONTACT ME</h1>
        <form action=""   method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <label for="name" class="form-label">Your name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <br>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              </div>
              <br>
              <div class="mb-4">
                <label for="phone number" class="form-label">Your contact number</label>
                <input type="phonenumber" class="form-control" id="phone" name="phone">
            </div>
              <br>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave your message here" id="floatingTextarea2" style="height: 200px; width: 560px;" name="description"></textarea>
              </div>
              <div  class="btn">
                  <button type="btn" class="sbtn">Submit</button>
              </div>
          </form>
    </div>
</body>
</html>
